body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: 1px solid #505269;
    align-items: center;
}

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    color: #cccdd3;
    text-decoration: none;
    opacity: .75;
    margin-left: 50px;
    transition: opacity .1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 750px;
    padding-top: 100px;
    background: #2e304a url("img/intro.jpg") center no-repeat;
}

.intro__title {
    margin: 0 0 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 65px;
    line-height: 1.1;
    color: #fff;
    text-transform: uppercase;
}

.intro__subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
    margin: 0 0 80px;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.btn {
    display: inline-block;
    vertical-align: top;
    border: 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 2px;
    transition: background-color .1s linear;
    text-align: center;
}

.btn--red {
    background-color: #e84545;
}

.btn--long {
    min-width: 280px;
}

.btn--red:hover {
    background-color: #de2b2b;
}

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 120px 0;
}

.features__item {
    width: 33.33333%;
    padding: 0 40px;
    text-align: center;
    margin: 25px 0;
}

.features__icon {
    margin-bottom: 30px;
}

.features__title {
    text-transform: uppercase;
    color: #2d3033;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 25px;
}

.features__text {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.works__item:hover .works__content {
    opacity: 1;
}

.works__img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 69, .9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition: opacity .1s linear;
}

.works__title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
}

.works__text {
    font-size: 14px;
    color: #fff;
}

.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.member__name {
    font-size: 22px;
    color: #2d3033;
    margin-bottom: 15px;
}

.position {
    font-size: 13px;
    color: #e84545;
    margin-bottom: 30px;
}

.member__description {
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
    margin-bottom: 25px;
}

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    background-color: #fff;
    margin-right: 6px;
    transition: background-color .1s linear;
}

.social--footer .social__item {
    background-color: transparent;
    border-width: 2px;
    border-color: #fff;
    border-radius: 2px;
}

.social__item:hover {
    background-color: #e8ecee;
}

.social--footer .social__item:hover{
    background: #fff;
}

.social__icon {
    fill: #c6cacc;
    height: 18px;
}

.social__icon:hover {
    fill: #000;
}

.social--footer .social__icon {
    fill: #fff;
}

.social--footer .social__icon:hover {
    fill: #000;
}

.reviews {
    overflow: hidden;
    background-color: #53354a;
}

.reviews__item {
    display: flex;
    flex-wrap: wrap;
}

.reviews__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.reviews_img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.reviews__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.reviews__text {
    font-family: 'Cardo', serif;
    font-style: italic;
    line-height: 1.2;
    font-size: 36px;
    color: #fff;
    margin-bottom: 40px;
}

.reviews__name {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.download {
    margin: 90px 0;
    text-align: center;
}

.download__title {
    font-size: 28px;
    font-weight: 300;
    color: #2d3033;
    margin-bottom: 20px;
}

.download__subtitle {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: #2d3033
}

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33.33333%;
    text-align: center;
}

.footer__title {
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__text {
    font-size: 14px;
    font-style: normal;
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
}

.copyright {
    padding: 20px 0;
    background-color: #313454;
}

.copyright__text {
    font-size: 14px;
    text-align: center;
    line-height: 1.5;
    color: #808080
}

.copyright__text span {
    color: #fff;
}